<div class="new-post-container">
  <h4>New Post</h4>
  <%= form_with class: "display-flex flex-direction-column", model: @post do |form| %>
    <%= form.text_field :title, placeholder: 'Title', class: "post-title-field" %>
    <%= form.text_field :text, placeholder: 'Text', class: "post-text-field" %>
    <%= form.submit "Create Post", class: "post-submit-button" %>
  <% end %>
</div>