<% @user.each do |u| %>
<div class = "d-flex flex-row justify-content-around border mb-2">
<div>
 <img src="<%= u.photo %>" class="rounded float-start rounded border img-thumbnail" width = "150px" height = "150px" alt="User image">
 </div>
 <div>
       <%= link_to user_path(u.id), class: "text-muted text-decoration-none" do %> 
            <%= u.name %> 
          <% end %> 
           <%= u.posts_counter %>
 </div>
 </div>
 <%end%>